@import "variables";

.desc {
    display: flex;
    padding: 4rem 8rem;
    flex-direction: column;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    background: #9ec2a8;
    min-height: 70vh;

    &__container {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        align-self: stretch;
        border-radius: 1rem;
        border: 16px solid rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.8);
    }

    &__title {
        color: #000;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Noto Sans JP;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__list {
        background-color: white;

        .list__item {
            &--left {
                font-family: Noto Sans JP;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                text-align: left;
                width: 20rem;
                padding: 0.5rem;
            }

            &--right {
                text-align: left;
                width: 40rem;
                padding: 0.5rem;

                .item__row {
                    .item__text {
                        text-align: center;
                        font-family: Noto Sans JP;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &--bold {
                            font-family: Noto Sans JP;
                            font-size: 1.25rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        &--small {
                            font-family: Noto Sans JP;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .list__item:not(:last-child) {
            border-bottom: 1px dotted black;
        }
    }

    &__button {
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.5rem;
        background: #b8f6ff;
        box-shadow:
            4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        color: #000;
        text-align: center;
        font-family: Lato;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }
}
