.entry-closed {
    background-color: #def;
    text-align: center;

    &__title {
        margin: 1rem;
        color: var(--font-color-em);
        font-size: var(--font-size-xx-large);
        font-family: var(--font-pop);
    }

    &__image {
        max-height: 300px;
    }

    &__image-credit {
        position: relative;
        bottom: 0;
        right: 0;
        font-size: var(--font-size-small);
    }

    &__text {
        font-size: var(--font-size-large);

        &--em {
            color: var(--font-color-em);
            font-weight: 700;
        }

        &--small {
            font-size: var(--font-size-small);
        }
    }
}
