.footer {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 0.5rem;

    &__copyright {
        color: #fff;
        font-family: var(--generic-font);
        font-size: var(--font-size-small);
        font-weight: 700;
    }

    &__logo {
        width: 2rem;
        height: 2rem;
    }
}
