@import "variables";

.mainvisual {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    background-image: radial-gradient(circle, rgba(200, 255, 200, 0.8) 0%, rgba(200, 255, 200, 0.2) 100%),
        url(../assets/main-visual.jpg);
    background-color: white;
    background-position-y: 35%;
    background-position-x: 75%;
    background-size: auto;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2rem;

    &__container {
        width: 100%;
    }

    &__text--bold {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__title {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        font-family: Rubik Mono One;
        font-size: 8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__title-logo {
        height: 50vh;
        max-height: 600px;
        max-width: 80vw;
    }

    &__date {
        text-align: center;

        &__text {
            font-family: var(--generic-font);
            font-size: 1.5em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__text--small {
            font-family: var(--generic-font);
            font-size: 0.9em;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__author {
        text-align: right;
        font-size: 0.9rem;
        color: white;

        a {
            color: white;
        }
    }
}
