.prize-info {
    min-height: 160px;

    &__header {
        text-align: start;
    }

    &__title {
        color: var(--font-color-em);
        font-size: var(--font-size-x-large);
        font-weight: 700;
        text-wrap: nowrap;
    }

    &__image {
        width: 4rem;
        height: 4rem;
    }

    &__name {
        font-size: var(--font-size-x-large);
        font-weight: 700;
        margin: 1rem 0;
    }

    &__text {
        font-size: var(--font-size-normal);
        font-weight: 400;
    }
}
