@import "../../node_modules/bulma/bulma.sass";
@import "mainvisual";

@import "navbar";
@import "section";
@import "table";
@import "notes";
@import "prize-info";
@import "entry-caution";
@import "qa-item";
@import "supporter-view";
@import "footer";
@import "tab";
@import "example-golf";
@import "coming-soon";

:root {
    --generic-font: "Noto Sans JP";
    --generic-font-monospace: "Noto Sans Mono";
    --font-pop: "Titan One";

    @include touch {
        --font-size-xx-large: 2rem;
        --font-size-x-large: 1.6rem;
        --font-size-large: 1.25rem;
        --font-size-normal: 1rem;
        --font-size-small: 0.8rem;
    }

    @include desktop {
        --font-size-xx-large: 2.5rem;
        --font-size-x-large: 1.8rem;
        --font-size-large: 1.3rem;
        --font-size-normal: 1rem;
        --font-size-small: 0.8rem;
    }
}

html {
    scroll-behavior: smooth;
    font-family: var(--generic-font);

    @include mobile {
        font-size: 12px;
    }
    @include tablet {
        font-size: 14px;
    }
    @include desktop {
        font-size: 16px;
    }
}

pre {
    text-align: left;
    font-family: var(--generic-font-monospace);
    padding: 0 !important;
}

.card {
    text-align: left;
}

#section-whats-codegolf {
    --section-main-color: #b3eac2;
}

#section-competition {
    --section-main-color: #9ec2a8;
}

#section-prize {
    --section-main-color: #cef9a4;
}

#section-entry {
    --section-main-color: #d0ddc2;
}

#section-qa {
    --section-main-color: #cecece;
}
